#Do not track json data, experiment files, or pycaches
*.json
*.experiment
*.pyc
*.cpython-36.pyc
*.cpython-38.pyc
*.pyc
src/protocols/__pycache__/protocol.cpython-36.pyc
src/protocols/__pycache__/Pause.cpython-36.pyc
src/protocols/__pycache__/OscillatingGrating.cpython-36.pyc
src/protocols/__pycache__/MovingGratingDirection.cpython-36.pyc
src/protocols/__pycache__/MovingBar.cpython-36.pyc
src/protocols/__pycache__/FlashFamily.cpython-36.pyc
src/protocols/__pycache__/Flash.cpython-36.pyc
src/protocols/__pycache__/CheckerboardReceptiveField.cpython-36.pyc
src/experiments/__pycache__/experiment.cpython-36.pyc
src/images/stimulusImages/cd23A
!src/images/stimulusImages/imageData.json
src/protocols/__pycache__/FlashGrid.cpython-38.pyc.2781252890672
